label#thumbnail {
  margin-bottom: 20px;
  border: 1px dashed #DDD;
  background-size: cover;
  cursor: pointer;
  height: 100px;

  display: flex;
  align-items: center;
  justify-content: center;
}

label#thumbnail input {
  display: none;
}

label#thumbnail.has-thumnail {
  border: 0
}

label#thumbnail.has-thumnail img {
  display: none
}

